target/
config/
src\test\resources\PacketSamples\SampleWithLinksModelV2\Root\Node 2\Node 2.4 - OG Link\Link ##Test ObjectGroup##.lnk
src\test\resources\PacketSamples\SampleWithLinksModelV2\Root\Node 2\Node 2.5 - OG Shortcut\Shortcut ##Test ObjectGroup##.lnk
src\test\resources\PacketSamples\SampleWithLinksModelV2\Root\Link Node 1.2.lnk
src\test\resources\PacketSamples\SampleWithLinksModelV2\Root\Link SmallContract.text.lnk
src\test\resources\PacketSamples\SampleWithLinksModelV2\Root\Shortcut Node 2.4 - OG Link.lnk
src\test\resources\PacketSamples\SampleWithLinksModelV2\Root\ShortCut OK-RULES-MDRULES.zip.lnk