<?xml version="1.0" encoding="UTF-8"?>
<properties>
    <service-loader initializableProblemHandler="ignore"/>
    <parsers>
        <parser class="org.apache.tika.parser.DefaultParser">
            <!-- Exclude all external tool parsers -->
            <parser-exclude class="org.apache.tika.parser.executable.ExecutableParser"/>
            <parser-exclude class="org.apache.tika.parser.external.CompositeExternalParser"/>
            <parser-exclude class="org.apache.tika.parser.ocr.TesseractOCRParser"/>
        </parser>
    </parsers>
</properties>
